# this is the smallest possible requirements list
# everything should (always) work on latest
psycopg2
django
django-taggit
django-autocomplete-light
django-extensions
django-cors-headers
django-tinymce
django-oauth-toolkit
djangorestframework
django-filter
django-jsonfield
django-model-utils # do we really need this?
django-autoslug # do we really need this?
scipy # do we really need this?
Lemmagen # do we really need this? could probably be replaced with reldi, this is blocking us from using python 3.9
slack_sdk # this should be optional or something
aiohttp # this is required by slack_sdk
python-memcached
slugify
dj-database-url
